:host {
    display: block;
}

button {
    cursor: pointer;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--paper-fab-background-color, #1E88E5);
    color: inherit;
    border: 0;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

button ::slotted(.icon) {
    width: 24px;
    height: 24px;
    fill: currentColor;
}