:host {
    display: block;
    height: 100%;
    width: 100%;
}

div {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
}

div ::slotted([slot=drawer]) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.2s all cubic-bezier(0.4, 0.0, 0.6, 1);;
    transform: translateX(-100%);
}

.main {
    // padding-left: 256px;
    width: 100%;
    transition: 0.2s all cubic-bezier(0.4, 0.0, 0.6, 1);;
}

@media (min-width: 600px) {

    div ::slotted([slot=drawer]) {
        transform: translateX(0);
    }

    .main {
        padding-left: 256px;
        width: 100%;
    }

}


// div ::slotted([slot=drawer]) {
//     color: lime;
// }