:host {
    all: inherit;
    display: block;
}

:host ::slotted(*) {
    margin-left: 0;
}

.main {
    margin-left: 256px;
}

:host([narrow]), :host([forceNarrow]) {
    & .main {
        margin-left: 0;
    }
}

:host > div {
    height: 100%;
}

.main {
    transition: 0.2s all cubic-bezier(0.4, 0.0, 0.6, 1);
}

