// TODO clean up some of these longer definitions using some sass

:host {
    display: block;

    position: relative;
    border-bottom: 1px solid #222;
    padding-top: 32px;
}

input {
    border: 0;
    outline: 0;
    font-size: 16px;
    width: 100%;
    padding: 8px 0;
}


input + div {
    content: '';
    height: 2px;
    background-color: var(--app-primary-color, #1E88E5);
    position: absolute;
    bottom: -1px;
    width: 100%;

    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
    transform: scale(0);
    transform-origin: center center;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--app-text-color, #888);
    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
}
input::-moz-placeholder { /* Firefox 19+ */
    color: var(--app-text-color, #888);
    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
}
input:-ms-input-placeholder { /* IE 10+ */
    color: var(--app-text-color, #888);
    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
}
input:-moz-placeholder { /* Firefox 18- */
    color: var(--app-text-color, #888);
    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
}

:host(.has-label) input::-webkit-input-placeholder,:host([alwaysFloatLabel]) input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: transparent;
    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
}
:host(.has-label) input::-moz-placeholder,:host([alwaysFloatLabel]) { /* Firefox 19+ */
    color: transparent;
    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
}
:host(.has-label) input:-ms-input-placeholder,:host([alwaysFloatLabel]) { /* IE 10+ */
    color: transparent;
    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
}
:host(.has-label) input:-moz-placeholder,:host([alwaysFloatLabel]) { /* Firefox 18- */
    color: transparent;
    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
}

label {

    position: absolute;
    bottom: 8px;
    left: 0;
    cursor: pointer;

    color: var(--app-text-color, #888);

    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
    transform-origin: left center;
    font-size: 16px;
}

:host([floating]) label, input:focus ~ label, :host([alwaysFloatLabel]) label {
    transform: translateY(-24px) scale(0.8);
    color: var(--app-primary-color, #1E88E5);
}

// thank you, css-tricks
input:focus::-webkit-input-placeholder, :host([alwaysFloatLabel]) input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--app-text-color, #888);
    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
}

input:focus::-moz-placeholder, :host([alwaysFloatLabel]) input::-webkit-input-placeholder { /* Firefox 19+ */
    color: var(--app-text-color, #888);
    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
}

input:focus:-ms-input-placeholder, :host([alwaysFloatLabel]) input::-webkit-input-placeholder { /* IE 10+ */
    color: var(--app-text-color, #888);
    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
}

input:focus:-moz-placeholder, :host([alwaysFloatLabel]) input::-webkit-input-placeholder { /* Firefox 18- */
    color: var(--app-text-color, #888);
    transition: 0.2s all cubic-bezier(0.0, 0.0, 0.2, 1);
}


input:focus + div {
    transform: scale(1);
}