:host {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    height: 56px;
    // background-color: var(--app-bar-color, --app-primary-color);
    // background-color: rgba(255, 255, 255, 0.8);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

@media (min-width: 600px) {

    header {
        height: 64px;
    }
}

header ::slotted(*) {
    color: white;
}